.carousel__bullet {
  width: 2rem;
  height: 0.2rem;
  background: #64748B;
  opacity: .25;
}

.carousel__bullet:hover {
  opacity: .6;
}

.carousel__bullet.carousel__bullet--active {
  opacity: 1;
  background: #6366F1;
}
