<div style="max-width:750px;margin:5vh auto;">
  <angular-carousel [infinite]="true" [auto]="true" [bullets]="false">
    <div *angularCarouselSlide>
      <div class="slide">
        Slide 1
      </div>
    </div>
    <div *angularCarouselSlide>
      <div class="slide">
        Slide 2
      </div>
    </div>
    <div *angularCarouselSlide>
      <div class="slide">
        Slide 3
      </div>
    </div>
    <div *angularCarouselSlide>
      <div class="slide">
        Slide 4
      </div>
    </div>
    <div *angularCarouselSlide>
      <div class="slide">
        Slide 5
      </div>
    </div>
    <div *angularCarouselSlide>
      <div class="slide">
        Slide 6
      </div>
    </div>
  </angular-carousel>
</div>
