<div style="max-width:750px;margin:5vh auto;">
  <carousel>
    <div *carouselSlide>
      <div style="border:5px dashed #CBD5E1;padding:20px;text-align:center;">
        Slide 1
      </div>
    </div>
    <div *carouselSlide>
      <div style="border:5px dashed #CBD5E1;padding:20px;text-align:center;">
        Slide 2
      </div>
    </div>
    <div *carouselSlide>
      <div style="border:5px dashed #CBD5E1;padding:20px;text-align:center;">
        Slide 3
      </div>
    </div>
  </carousel>
</div>
